code {
  padding: 0;
  font-size: 90%;
  color: #E7E7E7;
  background-color: #151515;
  border: 0px solid white;
}

body {
    background-color: #0f0f0f;
    color: #E7E7E7
}

a code {
    color: #00ccff;
}

a {
    color: #00ccff;
}

a:hover {
    color: black;
    background-color: grey;
}

a img {
    background-color: #adadad
}

/* a:hover img {
    color: #013220;
    background-color: #151515;
    text-decoration: none;
    border: solid 2px #151515;
} */

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1 {
    color: #33ff33;
}
h2 {
    color: #66ff66;
}
h3 {
    color: #99ff99;
}
h4 {
    color: #ccffcc;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding-left: 10px;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    padding-left: 10px;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding-left: 10px;
}


.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    padding-left: 10px;
}
